<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="<%= context.publicPath %>favicon.png" type="image/png">

  <title>Document title</title>
</head>

<body>
  <div id="root"></div>
</body>
<footer>
  <!-- Start of zo-ta Zendesk Widget script -->
  <!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1696e797-8e37-4166-bbf4-0f025a4313c2"> </script> -->
  <!-- End of zo-ta Zendesk Widget script -->
</footer>

</html>
